h1 {
	color: white;
	font-family: Verdana;
    text-align: center;
	font-size: 50px;
	
}

a.MEMES {
	color: AquaMarine;
	font-size: 16px;
}
body {
	font-family: Verdana;
	text-align: center;

}

h1.YPTG {
	font-size: 42px;
}
